---
title: Heading Group with rating

status: In progress
version: 0.5.1
tabs:
  - tab: html
viewport:

author: Dan Sunesen & Jesper Wøldiche, Designit
date: February, 2014
---

<!-- : Heading group (large) -->
<header class="hgroup">
  <h1 class="title--small">This is a small header</h1>
  <ul>
    <li>
      {{> rating--stars}}
    </li>
    <li>Name</li>
    <li>Date, year</li>
  </ul>
</header>
