<!-- : colors -->
<ul class="sg-color" data-sg-nocode>
  <li class="sg-color__row sg-color__row--single">
    <div class="sg-color__variant" data-color="telenor-blue"></div>
  </li>
  <li class="sg-color__row sg-color__row--single">
    <div class="sg-color__variant" data-color="telenor-green"></div>
  </li>
  <li class="sg-color__row sg-color__row--single">
    <div class="sg-color__variant" data-color="telenor-yellow"></div>
  </li>
  <li class="sg-color__row sg-color__row--single">
    <div class="sg-color__variant" data-color="telenor-red"></div>
  </li>
  <li class="sg-color__row sg-color__row--single">
    <div class="sg-color__variant" data-color="telenor-purple"></div>
  </li>
</ul>

<!-- : greyscale -->
<ul class="sg-color" data-sg-nocode>
  <li class="sg-color__row sg-color__row--single">
    <div class="sg-color__variant sg-color--neg" data-color="telenor-white"></div>
  </li>
    <li class="sg-color__row sg-color__row--single">
    <div class="sg-color__variant sg-color--neg" data-color="telenor-white-grey"></div>
  </li>
    <li class="sg-color__row sg-color__row--single">
    <div class="sg-color__variant sg-color--neg" data-color="telenor-white-dark"></div>
  </li>
    <li class="sg-color__row sg-color__row--single">
    <div class="sg-color__variant sg-color--neg" data-color="telenor-grey-light"></div>
  </li>
    <li class="sg-color__row sg-color__row--single">
    <div class="sg-color__variant sg-color--neg" data-color="telenor-grey"></div>
  </li>
  <li class="sg-color__row sg-color__row--single">
    <div class="sg-color__variant" data-color="telenor-grey-dark"></div>
  </li>
  <li class="sg-color__row sg-color__row--single">
    <div class="sg-color__variant" data-color="telenor-black-light"></div>
  </li>
    <li class="sg-color__row sg-color__row--single">
    <div class="sg-color__variant" data-color="telenor-black"></div>
  </li>
</ul>
