.block {
   @include element(option) {
    @include rem('padding-bottom', 24px);

    /* Disabled by josef to unify forms design
    .form-item {
      input[type='number'] {
        width: 80%;
      }
    }
    */

    .status-dot {
      position: absolute;
      bottom: -14px;
      left: 0;
      min-width: 300px;


      //Overwrite default styling for dot.
      &:before {
        top: 8px;
      }
    }
  }
}
