.block {
  @include modifier(credit-maximum) {
    @extend .box--greyed;
    padding: 8px;
    @include telenor-regular;
    position: relative;
    color: $color-grey-middle;

    span {
      @extend %size-15;
      padding-left: 20px;
    }

    &:before {
      position: absolute;
      top: 11px;
      left: 8px;
    }
  }
}
