.chart-info-panel {

  @include size-11;

  @include modifier("white") {
    background-color: $color-white;
  }

  // ----------------------------------------------------------------
  // list

  ul {
    li {
      display: inline-block;
      margin-left: $small-spacing-unit;

      li:first-child {
        margin-left: 0;
      }

      .status-dot {
        margin: 0 $xsmall-spacing-unit;
      }
    }
  }
}
