---
title: Line chart

status: In progress
version: 0.5.1
tabs:
  - tab: html
viewport:

author: Rasmus Thulstrup, Designit
date: April, 2014
---

<!-- : line chart -->
<div class="section--padding section--negative section--selfcare__header">
  <div id="data-usage-chart" class="line-chart"></div>
</div>
