{{> heading--box-with-gradient heading}}
<section class="section--credit-card">
  <div class="border">
    <div class="box--greyed border--bottom trailer--large">
      <div class="container">
        <div class="mobile-one-whole tablet-two-thirds ">
          <div data-module="form.select" class="form-select form-item form-select--small form-item--inline">
            <label>Payment method</label>
            <select>
              <option>Please select your payment</option>
              <option>Credit card</option>
              <option>Pay cash</option>
              <option>BS-Betalingsservice</option>
              <option>Add to my next Telenor bill</option>
              <option>Leasing agreement</option>
              <option>Invoice/GORO</option>
              <option>Hardware Pool</option>
              <option>Pay with Paii</option>
            </select>
            <div class="form-select__field">--</div>
          </div>
        </div>
        <div class="mobile-one-whole tablet-one-third text-right">
          <div data-module="form.select" class="form-select form-item form-select--small form-item--inline">
            <label>Currency</label>
            <select>
              <option>DKK</option>
              <option>EUR</option>
              <option>GBP</option>
              <option>USD</option>
            </select>
            <div class="form-select__field">--</div>
          </div>
        </div>
      </div>
      <!--if user choose credit card same card-->
      <div class="container">
        <div class="mobile-one-whole tablet-two-thirds ">
          <div data-module="form.select" class="form-select form-item form-select--small form-item--inline">
            <label>Upfront payment</label>
            <select>
              <option>Debit/Credit card</option>
              <option>Pay cash</option>
              <option>BS-Betalingsservice</option>
              <option>Add to my next Telenor bill</option>
              <option>Leasing agreement</option>
              <option>Invoice/GORO</option>
              <option>Hardware Pool</option>
              <option>Pay with Paii</option>
            </select>
            <div class="form-select__field">--</div>
          </div>
          <div data-module="form.select" class="form-select form-item form-select--small form-item--inline">
            <label>Monthly payment</label>
            <select>
              <option>Draw from same card</option>
              <option>Draw from same card</option>
              <option>Draw from same card</option>
              <option>Draw from same card</option>
            </select>
            <div class="form-select__field">--</div>
          </div>
        </div>
        <div class="mobile-one-whole tablet-one-third text-right">
          <div data-module="form.select" class="form-select form-item form-select--small form-item--inline">
            <label>Currency</label>
            <select>
              <option>DKK</option>
              <option>EUR</option>
              <option>GBP</option>
              <option>USD</option>
            </select>
            <div class="form-select__field">--</div>
          </div>
        </div>
      </div>
       <!--end-->

       <!--if user choose credit card + bs-->
        <div class="accont__row">
          <div class="form-item form-item--small form-item--inline form-item__card-number">
            <label>Reg.no</label>
            <input id="" type="text" value="" placeholder="0000">
          </div>
          <div class="form-item form-item--small form-item--inline form-item__card-number">
            <label>Account.no</label>
            <input id="" type="text" value="" placeholder="0000 0000 0000 0000">
          </div>
        </div>
       <!--end-->

       <!--if user choose credit card + Pay by invoice – EXISTING account-->
         <div>
           <div data-module="form.select" class="form-select form-item form-select--small form-item--inline">
            <label>Choose billing account</label>
            <select>
              <option>Please select your account</option>
              <option>Please select your account</option>
            </select>
            <div class="form-select__field">--</div>
          </div>
         </div>
       <!--end-->

       <!--if user choose credit card + Pay by invoice – NEW account-->
        <div>
          <div data-module="form.select" class="form-select form-item form-select--small form-item--inline">
            <label>Department name</label>
            <select>
              <option>Please select dep. name</option>
              <option>Please select dep. name</option>
            </select>
            <div class="form-select__field">--</div>
          </div>
          <div class="accont__row form-item form-item--inline">
            <div class="form-item form-item--small form-item--inline form-item__card-number">
              <label>Reg.no</label>
              <input id="" type="text" value="" placeholder="0000">
            </div>
            <div class="form-item form-item--small form-item--inline form-item__card-number">
              <label>Account.no</label>
              <input id="" type="text" value="" placeholder="0000 0000 0000 0000">
            </div>
          </div>
          <div class="accont__row form-item form-item--inline">
            <div class="form-item form-item--small form-item--inline form-item__card-number">
              <label>Ref.initials</label>
              <input id="" type="text" value="" placeholder="ABCD">
            </div>
            <div class="form-item form-item--small form-item--inline form-item__card-number">
              <label>Ref.e-mail</label>
              <input id="" type="text" value="" placeholder="name.sername@email.com">
            </div>
          </div>
        </div>
       <!--end-->
    </div>
   
    <div class="section--payment-price trailer--small">
      <div class="container trailer--small border--bottom padding-toleft padding-toright">
        <div>
          <div class="mobile-one-half">
            <p><span class="title--medium trailer--small">Your payment now </span></p>
          </div>
          <div class="mobile-one-half text-right">
            <p><span class="title--medium trailer--small"> 1.799.00</span></p>
          </div>
        </div>
        <div class="form-item form-item--small">
          <div class="mobile-one-half trailer--small">
            <label>Your monthly payment, afterwards</label>
          </div>
          <div class="mobile-one-half text-right">
            <p>189,00 kr</p>
          </div>
        </div>
      </div>
      <div class="container padding-toleft padding-toright form-item form-item--small">
        <div class="mobile-one-half">
          <label>Minimum price for 6 mo. incl. plan:</label>
        </div>
        <div class="mobile-one-half text-right">
          <p>5.474,00 kr</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container section--payment-minprice  leader--small padding-toleft">
  <div class="mobile-one-half form-item">
    <label>All prices show are incl. 25 % VAT</label>
  </div>
  <div class="mobile-one-half text-right">
    <button class="button button--default">Continue shopping</button>
     <button class="button button--accept icon-arrow-next">Pay now</button>
  </div>
</div>