{{> heading--box-with-gradient heading}}
<section class="section--credit-card">
  <div class="border">
    <div class="box--greyed border--bottom trailer--large">
      <div class="container">
        <div class="mobile-one-whole tablet-two-thirds ">
          <div data-module="form.select" class="form-select form-item form-select--small form-item--inline">
            <label>Payment method</label>
            <select>
              <option>Return cash</option>
              <option>Credit card</option>
              <option>Pay cash</option>
              <option>BS-Betalingsservice</option>
              <option>Add to my next Telenor bill</option>
              <option>Leasing agreement</option>
              <option>Invoice/GORO</option>
              <option>Hardware Pool</option>
              <option>Pay with Paii</option>
            </select>
            <div class="form-select__field">--</div>
          </div>
        </div>
        <div class="mobile-one-whole tablet-one-third text-right">
          <div data-module="form.select" class="form-select form-item form-select--small form-item--inline">
            <label>Currency</label>
            <select>
              <option>DKK</option>
              <option>EUR</option>
              <option>GBP</option>
              <option>USD</option>
            </select>
            <div class="form-select__field">--</div>
          </div>
        </div>
      </div>

      <!--if user Return cash-->
      <div class="container border--bottom padding-trailer">
        <div class="mobile-one-whole tablet-two-thirds ">
          <div data-module="form.select" class="form-select form-item form-select--small form-item--inline">
            <label>Return preference</label>
            <select>
              <option>Return cash</option>
              <option>Pay cash</option>
              <option>BS-Betalingsservice</option>
              <option>Add to my next Telenor bill</option>
              <option>Leasing agreement</option>
              <option>Invoice/GORO</option>
              <option>Hardware Pool</option>
              <option>Pay with Paii</option>
            </select>
            <div class="form-select__field">--</div>
          </div>
        </div>
        <div class="mobile-one-whole tablet-one-third text-right">
          <div data-module="form.select" class="form-select form-item form-select--small form-item--inline">
            <label>Currency</label>
            <select>
              <option>DKK</option>
              <option>EUR</option>
              <option>GBP</option>
              <option>USD</option>
            </select>
            <div class="form-select__field">--</div>
          </div>
        </div>
      </div> 
      <!--end--> 

      <div class="trailer--small leader">
        <h3 class="title--xsmall trailer--small padding-toleft--small">Please sign for your returned funds:</h3>
        <div>
          <div class="form-item form-item--small form-item--inline form-item__card-number">
            <label>First name</label>
            <input id="" type="text" value="" placeholder="John">
          </div>
          <div class="form-item form-item--small form-item--inline form-item__card-number">
            <label>Last name</label>
            <input id="" type="text" value="" placeholder="Smith">
          </div>
        </div>
        <div>
          <div class="form-item  form-item--small form-item--inline form-item__card-number">
            <label>Street name</label>
            <input id="" type="text" value="" placeholder="Street">
          </div>
          <div class="accont__row accont__row--small inline-block">
            <div class="form-item form-item--small form-item--inline form-item__card-number">
              <label>Street no.</label>
              <input id="" type="text" value="" placeholder="1">
            </div>
            <div class="form-item  form-item--small form-item--inline form-item__card-number">
              <label>Section</label>
              <input id="" type="text" value="" placeholder="A">
            </div>
            <div class="form-item form-item--small form-item--inline form-item__card-number">
              <label>Floor</label>
              <input id="" type="text" value="" placeholder="3">
            </div>
            <div class="form-item form-item--small form-item--inline form-item__card-number">
              <label>Side/door</label>
              <input id="" type="text" value="" placeholder="left">
            </div>
          </div>
          <div class="accont__row inline-block">
            <div class="form-item form-item--small form-item--inline form-item__card-number">
              <label>Zip code</label>
              <input id="" type="text" value="" placeholder="0000">
            </div>
            <div class="form-item  form-item--small form-item--inline form-item__card-number">
              <label>City</label>
              <input id="" type="text" value="" placeholder="City">
            </div>
          </div>
          <div class="text-field">
            <div class="form-item  form-item--small">
              <label>Written signature</label>
              <textarea id="" type="text" placeholder="Smith">  </textarea>
            </div>
          </div>
        </div>
      </div>

    </div>
   
    <div class="section--payment-price returned trailer--small">
      <div class="container trailer--small padding-toleft padding-toright">
        <div>
          <div class="mobile-one-half">
            <p><span class="title--medium trailer--small">Return amount</span></p>
          </div>
          <div class="mobile-one-half text-right">
            <p><span class="title--medium trailer--small"> -1.799.00</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container section--payment-minprice  leader--small padding-toleft">
  <div class="mobile-one-half form-item form-item--required">
    <label>All prices show are incl. 25 % VAT</label>
  </div>
  <div class="mobile-one-half text-right">
    <button class="button button--accept icon-arrow-next">Confirm</button>
  </div>
</div>