---
title: Pill buttons
---
<!-- : List of small pill buttons -->
<ul class="button-row--pills">
  <li><a class="button--pill button--pill--small button--active" href="#">Most helpful</a></li>
  <li><a class="button--pill button--pill--small" href="#">Positive Reviews</a></li>
  <li><a class="button--pill button--pill--small" href="#">Critical Reviews</a></li>
  <li><a class="button--pill button--pill--small" href="#">Recent Reviews</a></li>
</ul>

<!-- : List of pill buttons -->
<ul class="button-row--pills">
  <li><a class="button--pill button--active" href="#">Most helpful</a></li>
  <li><a class="button--pill" href="#">Positive Reviews</a></li>
  <li><a class="button--pill" href="#">Critical Reviews</a></li>
  <li><a class="button--pill" href="#">Recent Reviews</a></li>
</ul>

<!-- : Inline pill buttons -->
<p>
  <a class="button--pill button--active" href="#">Most helpful</a>
  <a class="button--pill" href="#">Positive Reviews</a>
  <a class="button--pill" href="#">Critical Reviews</a>
  <a class="button--pill" href="#">Recent Reviews</a>
</p>
