---
title: Button tabs
---
<!-- : Rounded tabs -->
<ul class="button--tabs button--tabs--rounded">
  <li><a href="#">Most helpful</a></li>
  <li><a class="button--active" href="#">Positive Reviews</a></li>
  <li><a href="#">Critical Reviews</a></li>
  <li><a href="#">Recent Reviews</a></li>
</ul>

<!-- : Square tabs -->
<ul class="button--tabs">
  <li><a href="#">Most helpful</a></li>
  <li><a class="button--active" href="#">Positive Reviews</a></li>
  <li><a href="#">Critical Reviews</a></li>
  <li><a href="#">Recent Reviews</a></li>
</ul>
