---
title: Key value table
status: In progress
version: 0.5.1
tabs:
  - tab: html
viewport:
---
<!-- : Key value table -->
<table class="table--key-value">
  <tfoot>
    <tr>
      <th scope="row">Total</th>
      <td>90,00 kr.</td>
    </tr>
  <tfoot>
  <tbody>
    <tr>
      <th scope="row">Tickets (6 pcs)</th>
      <td>52,00 kr.</td>
    </tr>
    <tr>
      <th scope="row">Talk abroad (3 min)</th>
      <td>16,00 kr.</td>
    </tr>
    <tr>
      <th scope="row">22,00 kr.</th>
      <td>22,00 kr.</td>
    </tr>
  </tbody>
</table>
