<table class="table--key-value">
  <tfoot>
    <tr class="">
      <th scope="row"><span class="title--medium">Total</span></th>
      <td><span class="title--medium is-overdue">-12.120,40 kr.</span></td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <th scope="row">Total due</th>
      <td>-11.240,00 kr.</td>
    </tr>
    <tr>
      <th scope="row">Total overdue</th>
      <td>1.281,40 kr.</td>
    </tr>
  </tbody>
</table>
