---
title: Small tables
status: In progress
version: 0.5.1
tabs:
  - tab: html
viewport:
---
<!-- : Default table small -->
<table class="table table--default table--small">
  <thead>
    <tr>
      <th>Table heading</th>
      <th>Table heading</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Table data</td>
      <td>Table data</td>
    </tr>
    <tr>
      <td>Table data</td>
      <td>Table data</td>
    </tr>
    <tr>
      <td>Table data</td>
      <td>Table data</td>
    </tr>
    <tr>
      <td>Table data</td>
      <td>Table data</td>
    </tr>
  </tbody>
</table>
