---
title: Pager default

status: In progress
version: 0.5.1
tabs:
  - tab: html
viewport:

---

<div class="pager pager--default" id="example-parent_paginate">
	<a class="pager__button previous disabled" aria-controls="example-parent" href="?page=first" tabindex="0" id="example-parent_previous">Previous</a>
	<span>
		<a class="pager__button current" aria-controls="example-parent" href="?page=1" tabindex="0">1</a>
		<a class="pager__button" aria-controls="example-parent" href="?page=2" tabindex="0">2</a>
		<a class="pager__button" aria-controls="example-parent" href="?page=3" tabindex="0">3</a>
		<a class="pager__button" aria-controls="example-parent" href="?page=4" tabindex="0">4</a>
		<a class="pager__button" aria-controls="example-parent" href="?page=5" tabindex="0">5</a>
	  <span class="pager__elipsis">…</span>
	  <a class="pager__button" aria-controls="example-parent" href="?page=15" tabindex="0">15</a>
  </span>
	<a class="pager__button next" aria-controls="example-parent" href="?page=last" tabindex="0" id="example-parent_next">Next</a>
</div>
