---
title: Pager datatable

status: In progress
version: 0.5.1
tabs:
  - tab: html
viewport:

---
<div class="paging_simple_numbers" id="example-parent_paginate">
  <a class="paginate_button previous disabled" aria-controls="example-parent" tabindex="0" id="example-parent_previous">Previous</a>
    <span>
    <a class="paginate_button current" aria-controls="example-parent" tabindex="0">1</a>
    <a class="paginate_button " aria-controls="example-parent" tabindex="0">2</a>
    <a class="paginate_button " aria-controls="example-parent" tabindex="0">3</a>
    <a class="paginate_button " aria-controls="example-parent" tabindex="0">4</a>
    <a class="paginate_button " aria-controls="example-parent" tabindex="0">5</a>
    <span>…</span>
    <a class="paginate_button " aria-controls="example-parent" tabindex="0">15</a>
  </span>
  <a class="paginate_button next" aria-controls="example-parent" tabindex="0" id="example-parent_next">Next</a>
</div>
