<!-- : Pager (carousel) -->
<div class="pager--carousel">
  <ol>
  	<li><a class="paginate_button current" aria-controls="example-parent" tabindex="0">1</a></li>
  	<li><a class="paginate_button " aria-controls="example-parent" tabindex="0">2</a></li>
    <li><a class="paginate_button " aria-controls="example-parent" tabindex="0">3</a></li>
    <li><a class="paginate_button " aria-controls="example-parent" tabindex="0">4</a></li>
    <li><a class="paginate_button " aria-controls="example-parent" tabindex="0">5</a></li>
  </ol>
</div>