---
title: Five star ratings

status: In progress
version: 0.5.1
tabs:
  - tab: html
viewport:

author: Dan Sunesen and Jesper Wøldiche, Designit
date: January, 2014
---
<!-- : Five star rating -->
<div class="rating--stars" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
	<span class="rating__stars" aria-hidden="true">
		<span class="icon-star fill--whole"></span>
		<span class="icon-star fill--whole"></span>
		<span class="icon-star fill--whole"></span>
		<span class="icon-star fill--half"></span>
		<span class="icon-star"></span>
	</span>
	<span class="aria--visible">
		<span class="aria--visible">Rated </span><span itemprop="ratingValue">3.4</span> <span class="aria--visible">out of <span itemprop="bestRating">5</span></span> from <span itemprop="reviewCount">86</span> users reviews
	</span>
</div>
