---
title: Footer Links

status: In progress
version: 0.5.1
tabs:
  - tab: html
viewport:

author: Dan Sunesen, Jesper Wøldiche & Rasmus Thulstrup, Designit
date: February, 2014
---

<!-- : Footer Navigation -->
<div class="section">
  <div class="mobile-one-whole tablet-wide-ten-twelfths">
    <ul class="list--default list--inline list--inline-spacing-small">
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Terms &amp; Conditions</a></li>
      <li><a href="#">Delivery</a></li>
      <li><a href="#">Returns</a></li>
      <li><a href="#">Order tracking</a></li>
      <li><a href="#">Secure payments via QuickPay and DIBS</a></li>
    </ul>
  </div>
  <div class="omega">
    <ul class="list--inline list--inline footer__social">
      <li><a class="footer__facebook" href="https://facebook.com">Facebook</a></li>
      <li><a class="footer__twitter" href="https://twitter.com">Twitter</a></li>
      <li><a class="footer__googleplus" href="https://plus.google.com">Google+</a></li>
      <li><a class="footer__pinterest" href="https://pinterest.com">Pinterest</a></li>
    </ul>
  </div>
</div>
