---
title: Footer Nav

status: In progress
version: 0.5.1
tabs:
  - tab: html
viewport:

author: Dan Sunesen & Jesper Wøldiche, Designit
date: February, 2014
---

<!-- : Footer Navigation -->
<footer class="section">
  <div class="mobile-one-whole tablet-one-half desk-one-quarter">
    <h3 class="title--xsmall trailer--small"><a href="#">List header</a></h3>
    <ul class="list--default">
      <li><a href="#">List item 1</a></li>
      <li><a href="#">List item 2</a></li>
      <li><a href="#">List item 3</a></li>
    </ul>
  </div>
  <div class="mobile-one-whole tablet-one-half desk-one-quarter tablet-pull-right">
    <h3 class="title--xsmall trailer--small"><a href="#">List header</a></h3>
    <ul class="list--default">
      <li><a href="#">List item 1</a></li>
      <li><a href="#">List item 2</a></li>
      <li><a href="#">List item 3</a></li>
    </ul>
  </div>
  <div class="mobile-one-whole tablet-one-half desk-one-quarter">
    <h3 class="title--xsmall trailer--small"><a href="#">List header</a></h3>
    <ul class="list--default">
      <li><a href="#">List item 1</a></li>
      <li><a href="#">List item 2</a></li>
      <li><a href="#">List item 3</a></li>
    </ul>
  </div>
  <div class="mobile-one-whole tablet-one-half desk-one-quarter tablet-pull-right">
    <h3 class="title--xsmall trailer--small"><a href="#">List header</a></h3>
    <ul class="list--default">
      <li><a href="#">List item 1</a></li>
      <li><a href="#">List item 2</a></li>
      <li><a href="#">List item 3</a></li>
    </ul>
  </div>
</footer>
