---
title: Global search form

author: Dan Sunesen and Jesper Wøldiche, Designit
date: January, 2014
---
<form>
  <div class="container">
    <label for="search-box-input" class="aria--visible">Search www.telenor.com</label>
    <input type="search" id="search-box-input" />
    <button>
      <span class="icon-search" aria-hidden="true"></span>
      <span class="icon--text">Search</span>
    </button>
  </div>
</form>
