---
title: Large tabs

status: In progress
version: 0.5.1
tabs:
  - tab: html
viewport:

author: Dan Sunesen & Jesper Wøldiche, Designit
date: February, 2014
---

<!-- : Products filter menu -->
<div class="menu--filtering" id="menu-filters-category">
  <div class="menu--filtering__utils">
    <div class="form-item--multi menu--filtering__search mobile-three-quarters" id="filterSearch">
      <div class="form-item form-col">
        <input id="search" type="search">
      </div>
      <div class="form-item form-col--last">
        <button id="search" class="button button--default"><span class="icon-search"></span></button>
      </div>
    </div>
  </div>
  <ul class="button--tabs" id="top-filters" data-module="flexnav" data-moretext="More">
    <li><a class="is-active" href="#">All phones</a></li>
    <li><a href="#">Top sellers</a></li>
    <li><a href="#">Customers favorites</a></li>
    <li><a href="#">Now trending</a></li>
    <li><a href="#">Most popular</a></li>
    <li><a href="#">Recent reviews</a></li>
    <li><a href="#">Recent reviews</a></li>
    <li><a href="#">Recent reviews</a></li>
    <li><a href="#">Recent reviews</a></li>
    <li class="flexnav__filter mobile-pull-right" id="filter-button-container"></li>
  </ul>
</div>
