---
title: Login panel (da)

author: Dan Sunesen, Jesper Wøldiche and Rasmus Thulstrup, Designit
date: March, 2014
---
<aside id="section--login" class="section--login section--offcanvas">
  <div class="section--login--wrap">
    <div class="login--panel" id="login--panel-step1">
      <div>
        <a href="parts/login--id07-step1-da.html" data-replace="parts/login--id07-step1-da.html">Log ind</a>
      </div>
    </div>
    <div class="login--panel" id="login--panel-step2">
      <div></div>
    </div>
    <div class="login--panel" id="login--panel-step3">
      <div></div>
    </div>
  </div>

  <footer class="text--small text--center">
    <ul class="list--inline list--divided">
      <li>
        <a href="/">Betingelser</a>
      </li>
      <li>
        <a href="/">Privatliv</a>
      </li>
      <li>
        <a href="/">Cookies</a>
      </li>
      <li>
        <a href="/">Sikkerhed</a>
      </li>
    </ul>
  </footer>
</aside>
