---
title: Service menu
author: Jesper Wøldiche, Designit
date: June, 2014
---
<div class="section section--service" role="navigation">
  <div class="container">
    <h2 class="aria--visible">Other links</h2>
    <ul id="service-menu" class="menu--service">
        <li><a class="active-trail" href="#">Private</a></li>
        <li><a href="#">Business</a></li>
      <li><a href="#section--login">{{user.name}}<span class="icon-dropdown"></span></a><li>
    </ul>
  </div>
</div>
