<ul class="pager--button">
  <li><span class="icon-prev" aria-hidden="true"><span class="aria--visible">Previous page</span></span></li>
  <li><span class="pager--active"><span class="aria--visible">Page </span>1</span></span></li>
  <li><a href="#" class="pager--item"><span class="aria--visible">Page </span>2</span><span class="aria--visible"> of 36</span></a></li>
  <li><a href="#" class="pager--item"><span class="aria--visible">Page </span>3</span><span class="aria--visible"> of 36</span></a></li>
  <li><a href="#" class="pager--item"><span class="aria--visible">Page </span>4</span><span class="aria--visible"> of 36</span></a></li>
  <li><a href="#" class="pager--item"><span class="aria--visible">Page </span>36</span><span class="aria--visible"> of 36</span></a></li>
  <li><span class="icon-next" aria-hidden="true"><span class="aria--visible">Next page</span></span></li>
</ul>
