<div class="column-filter form-item--inline form-item--small" {{#each attributes}} {{@key}}="{{this}}" {{/each}}>
  <button id="{{buttonid}}" class="button button--default button--small">{{label}}</button>
  {{> form--speach-bubble speachBubble }}
</div>
