---
title: Paragraph
status: In progress
tabs:
  - tab: html
---
<div class="text--content">
  <p>This is a paragraph. Paragraphs are preset with a font size, line height and spacing to match the overall vertical rhythm. To show what a paragraph looks like this needs a little more content -so, did you know  that there are storms occurring on Jupiter that are larger than the Earth?</p>

  <p class="text--small">Check product availability in your local store</p>

  <blockquote>Those people who think they know everything are a great annoyance to those of us who do.</blockquote>
</div>
