---
title: Sub headlines
status: deprecated
---
<!-- : H1 -->
<h1 class="title--huge sub">This is a very large header</h1>
<!-- : H2 -->
<h2 class="title--xlarge sub">This is a large header</h2>
<!-- : H3 -->
<h3 class="title--large sub">This is a medium header</h3>
<!-- : H4 -->
<h4 class="title--medium sub">This is a moderate header</h4>
<!-- : H5 -->
<h5 class="title--small sub">This is a small header</h5>
<!-- : H6 -->
<h6 class="title--xsmall sub">This is a tiny header</h6>
