---
title: Check variations
status: In progress
tabs:
  - tab: html

author: Dan Sunesen & Jesper Wøldiche, Designit
date: January, 2014
---
<div class="sg-component__label">List small</div>

<div class="container sg-check-variations">
  <div class="tablet-one-third container">
    <div class="mobile-one-quarter">
      <ul class="list--check--dark list--small">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="mobile-one-quarter">
      <ul class="list--check--grey-dark list--small">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="mobile-one-quarter">
      <ul class="list--check--grey list--small">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="mobile-one-quarter">
      <ul class="list--check list--small">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  <div class="tablet-two-thirds container sg-check-variations__bg-colors">
    <div class="mobile-one-quarter box--yellow">
      <ul class="list--check--white list--small">
        <li></li>
      </ul>
      <ul class="list--check list--small">
        <li></li>
      </ul>
    </div>
    <div class="mobile-one-quarter box--purple">
      <ul class="list--check--white list--small">
        <li></li>
      </ul>
      <ul class="list--check list--small">
        <li></li>
      </ul>
    </div>
    <div class="mobile-one-quarter box--green">
      <ul class="list--check--white list--small">
        <li></li>
      </ul>
      <ul class="list--check list--small">
        <li></li>
      </ul>
    </div>
    <div class="mobile-one-quarter box--blue">
      <ul class="list--check--white list--small">
        <li></li>
      </ul>
      <ul class="list--check list--small">
        <li></li>
      </ul>
    </div>
  </div>
</div>

<div class="sg-component__label">List meduim</div>

<div class="container sg-check-variations">
  <div class="tablet-one-third container">
    <div class="mobile-one-quarter">
      <ul class="list--check--dark">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="mobile-one-quarter">
      <ul class="list--check--grey-dark">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="mobile-one-quarter">
      <ul class="list--check--grey">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="mobile-one-quarter">
      <ul class="list--check">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  <div class="tablet-two-thirds container sg-check-variations__bg-colors">
    <div class="mobile-one-quarter box--yellow">
      <ul class="list--check--white">
        <li></li>
      </ul>
      <ul class="list--check">
        <li></li>
      </ul>
    </div>
    <div class="mobile-one-quarter box--purple">
      <ul class="list--check--white">
        <li></li>
      </ul>
      <ul class="list--check">
        <li></li>
      </ul>
    </div>
    <div class="mobile-one-quarter box--green">
      <ul class="list--check--white">
        <li></li>
      </ul>
      <ul class="list--check">
        <li></li>
      </ul>
    </div>
    <div class="mobile-one-quarter box--blue">
      <ul class="list--check--white">
        <li></li>
      </ul>
      <ul class="list--check">
        <li></li>
      </ul>
    </div>
  </div>
</div>

