---
title: Dark check style list
status: In progress
tabs:
  - tab: html

author: Dan Sunesen & Jesper Wøldiche, Designit
date: January, 2014
---
<ul class="list--check--dark">
  <li>Dual-core A5 chip - den tidtil mest kraftfulde fra Apple</li>
  <li>8-megapixel frontfacing camera for Facetime</li>
  <li>1080p HD video recording on the rear side</li>
  <li>High resolution Retina display</li>
  <li>iOS7 - The latest Apple iOS operation system</li>
</ul>
