---
title: Checkstyle list
status: In progress
tabs:
  - tab: html

author: Dan Sunesen & Jesper Wøldiche, Designit
date: January, 2014
---
<ul class="list--check">
  <li>List item 1</li>
  <li>List item 2</li>
  <li>List item 3</li>
  <li>List item 4</li>
</ul>
