---
title: Small unordered list.
status: In progress
tabs:
  - tab: html

author: Dan Sunesen & Jesper Wøldiche, Designit
date: January, 2014
---
<ul class="list--default list--small">
  <li>List header</li>
  <li>List item 1</li>
  <li>List item 2</li>
  <li>List item 3</li>
</ul>
