---
title: Ordered list
status: In progress
tabs:
  - tab: html
---
<div class="text--content">
  <ol>
    <li>List item 1</li>
    <li>List item 2</li>
    <li>List item 3</li>
    <li>List item 4</li>
  </ol>

  <ol>
    <li>List item 1</li>
    <li>List item 2
      <ol>
        <li>List item 1</li>
        <li>List item 2
          <ol>
            <li>List item 1</li>
            <li>List item 2</li>
            <li>List item 3</li>
            <li>List item 4</li>
          </ol>
        </li>
        <li>List item 3</li>
      </ol>
    </li>
    <li>List item 3</li>
    <li>List item 4</li>
  </ol>
</div>
