---
title: List of Unique Selling Points for Checkout pages

author: Kim Johannesen
date: June, 2014
---

<div class="container">
	<ul class="list--shop-usp list--basket-usp leader--large">
		<li class="tablet-wide-one-quarter desk-one-quarter icon-safety icon-4-g">
			<h4 class="title--xxsmall trailer--small">Safety Trade</h4>
			<p>All information is encrypted and transmitted without risk.</p>
		</li>
		<li class="tablet-wide-one-quarter desk-one-quarter icon-delivery icon-4-g">
			<h4 class="title--xxsmall trailer--small">Free Express Delivery</h4>
			<p>We deliver all over the country within 2-3 days for free.</p>
		</li>
		<li class="tablet-wide-one-quarter desk-one-quarter icon-return icon-4-g">
			<h4 class="title--xxsmall trailer--small">Easy Return</h4>
			<p>Deliver the item unopened in one of Telenor’s shops or send them back free of charge.</p>
		</li>
		<li class="tablet-wide-one-quarter desk-one-quarter">
			<h4 class="title--xxsmall trailer--small">Here is trustpilot content</h4>
		</li>
	</ul>
</div>
