---
title: Dummy wrapper.

author: Dan Sunesen, Designit
date: March, 2014
todo: Get rid of this.
---
<section id="cart" class="section section--block checkout-step">
  <div class="container">
    <div class="my-order">
      <header class="hgroup">
        <p>Indkøbskurv</p>
        <h2 class="title--medium">Dine indkøb</h1>
      </header>
      <div></div>
    </div>

    <div class="text-right container leader--small">
      <button class="button button--default">Forsæt med at handle</button>
      <button class="button button--action" data-checkout-goto="#delivery-details,#payment">Bekræft ordre</button>
    </div>
  </div>
</section>
