<div class="container text--center">
  <h2 class="title--xlarge trailer--large">Get personal help</h2>
  <p class="title--xsmall trailer--xlarge">You can call us  72 100 100</p>
  <ul class="section--help__buttons">
    <li>
      <a class="button button--action-dark" href="">Chat with us now</a>
      <div class="text--small leader--small"><span class="icon-accept"></span> We are online</div>
    </li>
    <li>
      <a class="button button--action-dark" href="">We can call you</a>
    </li>
    <li>
      <a class="button button--action-dark" href="">Go to support</a>
    </li>
  </ul>
</div>
