---
title: Support accordion guide with slider

author: Dan Sunesen and Jesper Wøldiche, Designit
date: March, 2014
---

<!-- : Guide slider -->
<section class="section section--block">
  <div class="container block">
    <a name="brokenphone"></a>
    <div class="panel-group">
      <div class="panel panel-accordion">
        <div class="panel-heading panel-accordion__heading is-active">
          <a href="#panel1" data-toggle="collapse">
            <span>1</span>Text goes here
          </a>
        </div>
        <div id="panel1" class="panel-body panel-accordion__body is-open">
          <div class="rsSlider-wrapper">
            <div class="rsSlider-instance">
              <div class="royalSlider guide guide--inline">
                <div class="rsSlide-item">
                  <div class="mobile-li-one-whole tablet-li-one-half">
                    <img src="assets/graphics/dummy--guide.jpg" width="450" height="345" alt="">
                  </div>
                  <div class="mobile-li-one-whole tablet-li-one-half tablet-li-pull-right">
                    <header class="hgroup">
                      <p class="text--small">Solution A</p>
                      <h1 class="title--small">Quisque placerat ante eget</h1>
                    </header>
                    <p class="text">Accumsan, ante elit suscipit odio, at rutrum felis purus at libero. Vestibulum consectetur tortor a commodo elementum cras vitae dignissim felis, sit amet luctus enim. Suspendisse vestibulum dui sit amet nibh viverra varius id eget justo. In hac habitasse platea dictumst.</p>
                  </div>
                </div>
                <div class="rsSlide-item">
                  <div class="mobile-li-one-whole tablet-li-one-half">
                    <img src="assets/graphics/dummy--guide.jpg" width="450" height="345" alt="">
                  </div>
                  <div class="mobile-li-one-whole tablet-li-one-half tablet-li-pull-right">
                    <header class="hgroup">
                      <p class="text--small">Solution B</p>
                      <h1 class="title--small">Quisque placerat ante eget</h1>
                    </header>
                    <p class="text">Accumsan, ante elit suscipit odio, at rutrum felis purus at libero. Vestibulum consectetur tortor a commodo elementum cras vitae dignissim felis, sit amet luctus enim. Suspendisse vestibulum dui sit amet nibh viverra varius id eget justo. In hac habitasse platea dictumst.</p>
                  </div>
                </div>
                <div class="rsSlide-item">
                  <div class="mobile-li-one-whole tablet-li-one-half">
                    <img src="assets/graphics/dummy--guide.jpg" width="450" height="345" alt="">
                  </div>
                  <div class="mobile-li-one-whole tablet-li-one-half tablet-li-pull-right">
                    <header class="hgroup">
                      <p class="text--small">Solution C</p>
                      <h1 class="title--small">Quisque placerat ante eget</h1>
                    </header>
                    <p class="text">Accumsan, ante elit suscipit odio, at rutrum felis purus at libero. Vestibulum consectetur tortor a commodo elementum cras vitae dignissim felis, sit amet luctus enim. Suspendisse vestibulum dui sit amet nibh viverra varius id eget justo. In hac habitasse platea dictumst.</p>
                  </div>
                </div>
              </div>
              <div class="rsSlider-custom-controls mobile-li-one-whole tablet-li-one-half tablet-li-pull-right">
                <button class="button button--action button--medium button-prev mobile-pull-left">Previous</button>
                <button class="button button--action button--medium button-next mobile-li-pull-right">Next</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-accordion">
        <div class="panel-heading panel-accordion__heading">
          <a href="#panel2" data-toggle="collapse">
            <span>2</span>Text goes here
          </a>
        </div>
        <div id="panel2" class="panel-body panel-accordion__body is-collapsed">
          <div class="rsSlider-wrapper">
            <div class="rsSlider-instance">
              <div class="royalSlider guide guide--inline">
                <div class="rsSlide-item">
                  <div class="mobile-li-one-whole tablet-li-one-half">
                    <img src="assets/graphics/dummy--guide.jpg" width="450" height="345" alt="">
                  </div>
                  <div class="mobile-li-one-whole tablet-li-one-half tablet-li-pull-right">
                    <header class="hgroup">
                      <p class="text--small">Solution A</p>
                      <h1 class="title--small">Quisque placerat ante eget</h1>
                    </header>
                    <p>Accumsan, ante elit suscipit odio, at rutrum felis purus at libero. Vestibulum consectetur tortor a commodo elementum cras vitae dignissim felis, sit amet luctus enim. Suspendisse vestibulum dui sit amet nibh viverra varius id eget justo. In hac habitasse platea dictumst.</p>
                  </div>
                </div>
                <div class="rsSlide-item">
                  <div class="mobile-li-one-whole tablet-li-one-half">
                    <img src="assets/graphics/dummy--guide.jpg" width="450" height="345" alt="">
                  </div>
                  <div class="mobile-li-one-whole tablet-li-one-half tablet-li-pull-right">
                    <header class="hgroup">
                      <p class="text--small">Solution B</p>
                      <h1 class="title--small">Quisque placerat ante eget</h1>
                    </header>
                    <p>Accumsan, ante elit suscipit odio, at rutrum felis purus at libero. Vestibulum consectetur tortor a commodo elementum cras vitae dignissim felis, sit amet luctus enim. Suspendisse vestibulum dui sit amet nibh viverra varius id eget justo. In hac habitasse platea dictumst.</p>
                  </div>
                </div>
                <div class="rsSlide-item">
                  <div class="mobile-li-one-whole tablet-li-one-half">
                    <img src="assets/graphics/dummy--guide.jpg" width="450" height="345" alt="">
                  </div>
                  <div class="mobile-li-one-whole tablet-li-one-half tablet-li-pull-right">
                    <header class="hgroup">
                      <p class="text--small">Solution C</p>
                      <h1 class="title--small">Quisque placerat ante eget</h1>
                    </header>
                    <p>Accumsan, ante elit suscipit odio, at rutrum felis purus at libero. Vestibulum consectetur tortor a commodo elementum cras vitae dignissim felis, sit amet luctus enim. Suspendisse vestibulum dui sit amet nibh viverra varius id eget justo. In hac habitasse platea dictumst.</p>
                  </div>
                </div>
              </div>
              <div class="rsSlider-custom-controls mobile-li-one-whole tablet-li-one-half tablet-li-pull-right">
                <button class="button button--action button--medium button-prev mobile-pull-left">Previous</button>
                <button class="button button--action button--medium button-next mobile-li-pull-right">Next</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-accordion">
        <div class="panel-heading panel-accordion__heading">
          <a href="#panel3" data-toggle="collapse">
            <span>3</span>Text goes here
          </a>
        </div>
        <div id="panel3" class="panel-body panel-accordion__body is-collapsed">
          <div class="rsSlider-wrapper">
            <div class="rsSlider-instance">
              <div class="royalSlider guide guide--inline">
                <div class="rsSlide-item">
                  <div class="mobile-li-one-whole tablet-li-one-half">
                    <img src="assets/graphics/dummy--guide.jpg" width="450" height="345" alt="">
                  </div>
                  <div class="mobile-li-one-whole tablet-li-one-half tablet-li-pull-right">
                    <header class="hgroup">
                      <p class="text--small">Solution A</p>
                      <h1 class="title--small">Quisque placerat ante eget</h1>
                    </header>
                    <p>Accumsan, ante elit suscipit odio, at rutrum felis purus at libero. Vestibulum consectetur tortor a commodo elementum cras vitae dignissim felis, sit amet luctus enim. Suspendisse vestibulum dui sit amet nibh viverra varius id eget justo. In hac habitasse platea dictumst.</p>
                  </div>
                </div>
                <div class="rsSlide-item">
                  <div class="mobile-li-one-whole tablet-li-one-half">
                    <img src="assets/graphics/dummy--guide.jpg" width="450" height="345" alt="">
                  </div>
                  <div class="mobile-li-one-whole tablet-li-one-half tablet-li-pull-right">
                    <header class="hgroup">
                      <p class="text--small">Solution B</p>
                      <h1 class="title--small">Quisque placerat ante eget</h1>
                    </header>
                    <p>Accumsan, ante elit suscipit odio, at rutrum felis purus at libero. Vestibulum consectetur tortor a commodo elementum cras vitae dignissim felis, sit amet luctus enim. Suspendisse vestibulum dui sit amet nibh viverra varius id eget justo. In hac habitasse platea dictumst.</p>
                  </div>
                </div>
                <div class="rsSlide-item">
                  <div class="mobile-li-one-whole tablet-li-one-half">
                    <img src="assets/graphics/dummy--guide.jpg" width="450" height="345" alt="">
                  </div>
                  <div class="mobile-li-one-whole tablet-li-one-half tablet-li-pull-right">
                    <header class="hgroup">
                      <p class="text--small">Solution C</p>
                      <h1 class="title--small">Quisque placerat ante eget</h1>
                    </header>
                    <p>Accumsan, ante elit suscipit odio, at rutrum felis purus at libero. Vestibulum consectetur tortor a commodo elementum cras vitae dignissim felis, sit amet luctus enim. Suspendisse vestibulum dui sit amet nibh viverra varius id eget justo. In hac habitasse platea dictumst.</p>
                  </div>
                </div>
              </div>
              <div class="rsSlider-custom-controls mobile-li-one-whole tablet-li-one-half tablet-li-pull-right">
                <button class="button button--action button-prev mobile-pull-left">Previous</button>
                <button class="button button--action button-next mobile-li-pull-right">Next</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
