---
title: Support slider guide

status: In progress
version: 0.5.1
tabs:
  - tab: html
viewport:

author: Dan Sunesen and Jesper Wøldiche, Designit
date: March, 2014
---

<!-- : Guide slider -->
<section class="section section--block">
  <div class="container block">
    <ul class="button--steps button--steps--inline">
      <li class="mobile-li-one-whole tablet-li-one-half">
        <a class="is-active" data-aim="#guideslider1" data-toggle="tab"><span>A</span>
          <div class="mobile-one-whole mobile-pull-right">
            <p>Text goes here</p>
          </div>
        </a>
      </li>
      <li class="mobile-li-one-whole tablet-li-one-half tablet-li-pull-right">
        <a data-toggle="tab" data-aim="#guideslider2" href="parts/guide--support-slider-b.html" data-append="parts/guide--support-slider-b.html" data-target="#sliderWrapper1" data-interaction>
          <span>B</span>
          <div class="mobile-one-whole mobile-pull-right">
            <p>Text goes here</p>
          </div>
        </a>
      </li>
    </ul>

    <div class="rsSlider-wrapper" id="sliderWrapper1">
      <div class="rsSlider-instance is-active" id="guideslider1">
        <div class="royalSlider guide guide--inline">
          <div class="rsSlide-item">
            <div class="mobile-li-one-whole tablet-li-one-half">
              <img src="assets/graphics/dummy--guide.jpg" width="450" height="345" alt="">
            </div>
            <div class="mobile-li-one-whole tablet-li-one-half tablet-li-pull-right">
              <header class="hgroup">
                <p class="text--small">Solution A</p>
                <h1 class="title--small">Quisque placerat ante eget</h1>
              </header>
              <p class="text">Accumsan, ante elit suscipit odio, at rutrum felis purus at libero. Vestibulum consectetur tortor a commodo elementum cras vitae dignissim felis, sit amet luctus enim. Suspendisse vestibulum dui sit amet nibh viverra varius id eget justo. In hac habitasse platea dictumst.</p>
            </div>
          </div>
          <div class="rsSlide-item">
            <div class="mobile-li-one-whole tablet-li-one-half">
              <img src="assets/graphics/dummy--guide.jpg" width="450" height="345" alt="">
            </div>
            <div class="mobile-li-one-whole tablet-li-one-half tablet-li-pull-right">
              <header class="hgroup">
                <p class="text--small">Solution B</p>
                <h1 class="title--small">Quisque placerat ante eget</h1>
              </header>
              <p class="text">Accumsan, ante elit suscipit odio, at rutrum felis purus at libero. Vestibulum consectetur tortor a commodo elementum cras vitae dignissim felis, sit amet luctus enim. Suspendisse vestibulum dui sit amet nibh viverra varius id eget justo. In hac habitasse platea dictumst.</p>
            </div>
          </div>
          <div class="rsSlide-item">
            <div class="mobile-li-one-whole tablet-li-one-half">
              <img src="assets/graphics/dummy--guide.jpg" width="450" height="345" alt="">
            </div>
            <div class="mobile-li-one-whole tablet-li-one-half tablet-li-pull-right">
              <header class="hgroup">
                <p class="text--small">Solution C</p>
                <h1 class="title--small">Quisque placerat ante eget</h1>
              </header>
              <p class="text">Accumsan, ante elit suscipit odio, at rutrum felis purus at libero. Vestibulum consectetur tortor a commodo elementum cras vitae dignissim felis, sit amet luctus enim. Suspendisse vestibulum dui sit amet nibh viverra varius id eget justo. In hac habitasse platea dictumst.</p>
            </div>
          </div>
        </div>
        <div class="rsSlider-custom-controls mobile-li-one-whole tablet-li-one-half tablet-li-pull-right">
          <button class="button button--action button-prev mobile-pull-left">Previous</button>
          <button class="button button--action button-next mobile-li-pull-right">Next</button>
        </div>
      </div>
    </div>
  </div>
</section>
