---
title: List item in icon view

author: Anders Pedersen, Shift
date: June, 2014
---

<!-- : category - icon -->
<li class="list-item list-item--icon">
  <div class="list-item__inner-wrapper">
    <div class="mobile-one-whole tablet-one-whole">
      <a href="#"><img src="assets/images/cat_{{img}}.png" alt=""></a>
    </div>
    <div class="mobile-one-whole tablet-one-whole">
      <p>
        <span class="list-item__name mobile-one-whole text--small" itemprop="productName"><a href="#">{{title}}</a></span>
      </p>
    </div>
  </div>
</li>
