<div class="select--dropdown form-select form-item form-select--small form-item--inline">
  <label>Choose number for this plan
    <a class="toleft--xsmall toleft--xsmall icon-questionmark text--med">
      <div class="tooltip" data-module="tooltip" role="tooltip">
        <p>This is a tip</p>
      </div>
    </a>
  </label>
  <div class="dropdown" data-module="dropdown">
    <div class="dropdown__label" role="button" data-toggle="dropdown">  
    </div>
    <button type="button" class="dropdown__toggle" data-toggle="dropdown">
      <span class="aria--visible">Toggle Dropdown</span>
    </button>
    <div class="dropdown__content" role="menu" data-module="list.dropdown">
        <div class="dropdown__filter">
          Available
        </div>
        <ul class="dropdown__scroll">
          <li>+45 12 55 45 78</li>
          <li>+45 12 55 45 78</li>
          <li>+45 12 55 45 78</li>
          <li>+45 12 55 45 78</li>
          <li>+45 12 55 45 78</li>
          <li>+45 12 55 45 78</li>
          <li>+45 12 55 45 78</li>
          <li>+45 12 55 45 78</li>
          <li>+45 12 55 45 78</li>
        </ul>
        <div class="dropdown__filter">
          Taken
        </div>
        <ul class="dropdown__scroll taken">
          <li>+45 12 55 45 78<a class="icon-remove pull-right"></a></li>
          <li>+45 12 55 45 78<a class="icon-remove pull-right"></a></li>
          <li>+45 12 55 45 78<a class="icon-remove pull-right"></a></li>
          <li>+45 12 55 45 78<a class="icon-remove pull-right"></a></li>
          <li>+45 12 55 45 78<a class="icon-remove pull-right"></a></li>
          <li>+45 12 55 45 78<a class="icon-remove pull-right"></a></li>
          <li>+45 12 55 45 78<a class="icon-remove pull-right"></a></li>
          <li>+45 12 55 45 78<a class="icon-remove pull-right"></a></li>
        </ul>
    </div>
  </div>
</div>