---
title: List of Unique Selling Points

author: Kim Johannesen
date: June, 2014
---

<div class="container">
	<ul class="list--shop-usp">
		<li class="mobile-one-whole tablet-one-third desk-one-third list--shop-usp__delivery icon-basket">FREE express delivery<br />with every order</li>
		<li class="mobile-one-whole tablet-one-third desk-one-third list--shop-usp__network icon-4-g">Best network in denmark<br /><a class="bullet-link" href="#">Read the report</a></li>
		<li class="mobile-one-whole tablet-one-third desk-one-third omega list--shop-usp--usp__customer-service icon-headphones">Personal help 24 hours a day<br />- Customer Service is always open</li>
	</ul>
</div>