---
title: Icon image

author: Dan Sunesen and Jesper Wøldiche, Designit
date: February, 2014
status: deprecated
---
<!-- : Small avatar image -->
<span class="img--icon img--small"><img src="assets/images/user_avatar_3.jpg" width="50" height="50" alt="Your profile" ></span>
