---
title: Checkboxes horizontal
status: DEPRECATED
---

<!-- : Inline checkboxes -->
<ul class="form-item form-inline">
  <li class="form-checkbox">
    <input type="checkbox" name="optionsCheck2" id="checkbox2option1" value="option1" checked>
    <label class="text--med" for="checkbox2option1">This is default</label>
  </li>
  <li class="form-checkbox">
    <input type="checkbox" name="optionsCheck2" id="checkbox2option2" value="option2" >
    <label class="text--med" for="checkbox2option2">Option two.</label>
  </li>
  <li class="form-checkbox">
    <input type="checkbox" name="optionsCheck2" id="checkbox2option3" value="option3" >
    <label class="text--med" for="checkbox2option3">Option three.</label>
  </li>
  <li class="form-checkbox">
    <input type="checkbox" name="optionsCheck2" id="checkbox2option4" value="option4" >
    <label class="text--med" for="checkbox2option4">Option four.</label>
  </li>
</ul>
