---
title: Textfields
status: Deprecated
---
<!-- : Basic text input -->
<div class="form-item form-item--required">
  <label for="text1">Name</label>
  <input id="text1" type="text" />
</div>
<!-- : Basic textarea -->
<div class="form-item">
  <label for="textarea1">Comment</label>
  <textarea id="textarea1"></textarea>
</div>
<!-- : Basic password input -->
<div class="form-item">
  <label for="password1">Name</label>
  <input id="password1" type="password" />
</div>
<!-- : Inline label -->
<div class="example-form">
  <div class="form-item label-inline">
    <label for="text2">First Name</label>
    <input id="text2" type="text"  />
  </div>
  <div class="form-item label-inline">
    <label for="text3">Last name</label>
    <input id="text3" type="text"  />
  </div>
</div>
<!-- : With date picker -->
<div class="form-item">
  <label for="datepicker1">Preferred delivery date</label>
  <div class="form-item__row">
    <span class="form-comp comp-date" aria-hidden="true"></span>
    <input id="datepicker1" type="text" class="form-item--date" />
  </div>
</div>
<!-- : With date picker -->
<div class="form-item">
  <label for="datepicker2">Preferred delivery date</label>
  <div class="form-item__row">
    <input id="datepicker2" type="text" class="form-item--date" />
    <span class="form-comp comp-date" aria-hidden="true"></span>
  </div>
</div>

