---
title: Checkboxes toggle

author: Rasmus Thulstrup, Designit
date: April, 2014
---

<!-- : Checkboxes toggles -->
<div>
  <div class="form-item--toggle">
    <input class="toggle__check" id="checkbox1" type="checkbox">
    <label class="aria--visible" for="checkbox1">Receive bill notification via email</label>
    <div class="form-item--toggle__switch"><span class="icon-drag"></span></div>
    <div class="form-item--toggle__track"></div>
  </div>

  <div class="form-item--toggle">
    <input class="toggle__check" id="checkbox2" type="checkbox" checked>
    <label class="aria--visible" for="checkbox2">Receive bill notification via email</label>
    <div class="form-item--toggle__switch"><span class="icon-drag"></span></div>
    <div class="form-item--toggle__track"></div>
  </div>

  <div class="form-item--toggle">
    <input class="toggle__check" id="checkbox3" type="checkbox" disabled>
    <label class="aria--visible" for="checkbox3">Receive bill notification via email</label>
    <div class="form-item--toggle__switch"><span class="icon-drag"></span></div>
    <div class="form-item--toggle__track"></div>
  </div>

  <div class="form-item--toggle">
    <input class="toggle__check" id="checkbox4" type="checkbox" checked disabled>
    <label class="aria--visible" for="checkbox4">Receive bill notification via email</label>
    <div class="form-item--toggle__switch"><span class="icon-drag"></span></div>
    <div class="form-item--toggle__track"></div>
  </div>

  <div class="form-item--toggle is-loading">
    <input class="toggle__check" id="checkbox4" type="checkbox" disabled>
    <label class="aria--visible" for="checkbox4">Receive bill notification via email</label>
    <div class="form-item--toggle__switch"><span class="icon-drag"></span></div>
    <div class="form-item--toggle__track"></div>
  </div>

  <div class="form-item--toggle form-item--toggle--wide">
    <input class="toggle__check" id="checkbox1" type="checkbox">
    <label class="aria--visible" for="checkbox1">Receive bill notification via email</label>
    <div class="form-item--toggle__switch"><span class="icon-drag"></span></div>
    <div class="form-item--toggle__track"></div>
  </div>
</div>
