---
title: Checkboxes vertical danish
status: Deprecated
used:
- user--profile-da.html
---

<!-- : Checkboxes -->
<ul class="form-item form-row">
  <li class="form-checkbox">
    <input type="checkbox" name="optionsCheck1" id="checkbox1option1" value="option1" checked>
    <label class="text--med" for="checkbox1option1">Ja tak. Jeg ønsker information om nye produkter hos telenor og tilbud.</label>
  </li>
  <li class="form-checkbox">
    <input type="checkbox" name="optionsCheck1" id="checkbox1option2" value="option2" >
    <label class="text--med" for="checkbox1option2">Ja tak. Jeg ønsker information, når Telenor, på baggrund af mit forbrug, kan forbedre mit abonnement.</label>
  </li>
</ul>
