---
title: Checkboxes vertical
status: Deprecated
used:
- user--profile-errors.html
---

<!-- : Checkboxes -->
<ul class="form-item form-row">
  <li class="form-checkbox">
    <input type="checkbox" name="optionsCheck1" id="checkbox1option1" value="option1" checked>
    <label class="text--med" for="checkbox1option1">I want to receive information on Telenor products. Telenor is allowed to contact me.</label>
  </li>
  <li class="form-checkbox">
    <input type="checkbox" name="optionsCheck1" id="checkbox1option2" value="option2" >
    <label class="text--med" for="checkbox1option2">I allow Telenor to analyze my usage and on that basis provide recommendations in newsletters sent to me.</label>
  </li>
</ul>
