---
label:
  text: Filter product
  inline: true
status: In progress
version: 0.5.1
---
<!-- component:field-fiter-ajax:start (field--filter--ajax.hbs) -->
<form action="parts/list--subscriptions-simple.html" method="get" data-interaction>
  {{> field--filter}}
</form>
<!-- component:field-fiter-ajax:end -->
