---
status: In progress
version: 0.5.1
label:
  text: Search product
  inline: true
id: search-field-one
---
<form action="parts/list--subscriptions-simple.html" method="get" data-interaction>
{{> field--search}}
</form>
