---
title: Form states
status: In progress
version: 0.5.1
---
<!-- : Basic text input -->
<div class="form-item">
  <label for="text1">Name</label>
  <input id="text" type="text" placeholder="Text input" />
</div>
<!-- : Active form -->
<div class="form-item form-active">
  <label for="text1">Name</label>
  <input id="text" type="text" placeholder="Text input" />
</div>
<!-- : Status message -->
<div class="form-item form-succes">
  <label for="text1">Name</label>
  <input id="text" type="text" placeholder="Text input" />
</div>
<!-- : Warning message -->
<div class="form-item form-warn">
  <label for="text1">Name</label>
  <input id="text" type="text" placeholder="Text input" />
</div>
<!-- : Error message -->
<div class="form-item form-item--error">
  <label for="text1">Name</label>
  <input id="text" type="text" placeholder="Text input" />
</div>
