---
title: Toggle button (radio buttons)
status: In progress
version: 0.5.1
author: Dan Sunesen, Jesper Wøldiche & Rasmus Thulstrup, Designit
date: February, 2014
---

<!-- : Radio button toggles -->
<div>
  <div class="form-item--toggle">
    <input class="toggle__radio" data-toggle-value="on" id="check1" type="radio" name="radiogroup1" checked><label for="check1">Yes</label>
    <input class="toggle__radio" data-toggle-value="off" id="check2" type="radio" name="radiogroup1"><label for="check2">No</label>
    <div class="form-item--toggle__switch"><span class="icon-drag"></span></div>
    <div class="form-item--toggle__track"></div>
  </div>

  <div class="form-item--toggle">
    <input class="toggle__radio" data-toggle-value="on" id="check3" type="radio" name="radiogroup2"><label for="check3">Yes</label>
    <input class="toggle__radio" data-toggle-value="off" id="check4" type="radio" name="radiogroup2" checked><label for="check4">No</label>
    <div class="form-item--toggle__switch"><span class="icon-drag"></span></div>
    <div class="form-item--toggle__track"></div>
  </div>

  <div class="form-item--toggle">
    <input class="toggle__radio" data-toggle-value="on" id="check5" type="radio" name="radiogroup3" checked disabled><label for="check5">Yes</label>
    <input class="toggle__radio" data-toggle-value="off" id="check6" type="radio" name="radiogroup3" disabled><label for="check6">No</label>
    <div class="form-item--toggle__switch"><span class="icon-drag"></span></div>
    <div class="form-item--toggle__track"></div>
  </div>

  <div class="form-item--toggle">
    <input class="toggle__radio" data-toggle-value="on" id="check7" type="radio" name="radiogroup4" disabled><label for="check7">Yes</label>
    <input class="toggle__radio" data-toggle-value="off" id="check8" type="radio" name="radiogroup4" checked disabled><label for="check8">No</label>
    <div class="form-item--toggle__switch"><span class="icon-drag"></span></div>
    <div class="form-item--toggle__track"></div>
  </div>

  <div class="form-item--toggle is-loading">
    <input class="toggle__radio" data-toggle-value="on" id="check9" type="radio" name="radiogroup5" checked disabled><label for="check9">Yes</label>
    <input class="toggle__radio" data-toggle-value="off" id="check10" type="radio" name="radiogroup5" disabled><label for="check10">No</label>
    <div class="form-item--toggle__switch"><span class="icon-drag"></span></div>
    <div class="form-item--toggle__track"></div>
  </div>

  <div class="form-item--toggle form-item--toggle--wide">
    <input class="toggle__radio" data-toggle-value="on" id="check1" type="radio" name="radiogroup1" checked><label for="check1">Yes Yes</label>
    <input class="toggle__radio" data-toggle-value="off" id="check2" type="radio" name="radiogroup1"><label for="check2">No No</label>
    <div class="form-item--toggle__switch"><span class="icon-drag"></span></div>
    <div class="form-item--toggle__track"></div>
  </div>
</div>
