---
title: Radio buttons horizontal
status: In progress
version: 0.5.1
author: Dan Sunesen & Jesper Wøldiche, Designit
date: February, 2014
---

<!-- : Inline radio buttons -->
<ul class="form-item form-inline">
  <li class="form-radio">
    <input type="radio" name="optionsRadios" id="radio2option1" value="option1" checked>
    <label class="text--med" for="radio2option1">This is default</label>
  </li>
  <li class="form-radio">
    <input type="radio" name="optionsRadios" id="radio2option2" value="option1" >
    <label class="text--med" for="radio2option2">Option two.</label>
  </li>
  <li class="form-radio">
    <input type="radio" name="optionsRadios" id="radio2option3" value="option1" >
    <label class="text--med" for="radio2option3">Option three.</label>
  </li>
  <li class="form-radio">
    <input type="radio" name="optionsRadios" id="radio2option4" value="option1" >
    <label class="text--med" for="radio2option4">Option four.</label>
  </li>
</ul>
