---
title: Footer Links
status: In progress
version: 0.5.1
author: Dan Sunesen & Jesper Wøldiche, Designit
date: February, 2014
---

<!-- : Radio buttons -->
<ul class="form-item">
  <li class="form-radio">
    <input type="radio" name="optionsRadios" id="radio1option1" value="option1" checked>
    <label class="text--med" for="radio1option1">I choose this, option one. Vertical radios are great for long labels.</label>
  </li>
  <li class="form-radio">
    <input type="radio" name="optionsRadios" id="radio1option2" value="option1" >
    <label class="text--med" for="radio1option2">Option two.</label>
  </li>
  <li class="form-radio">
    <input type="radio" name="optionsRadios" id="radio1option3" value="option1" >
    <label class="text--med" for="radio1option3">Option three.</label>
  </li>
  <li class="form-radio">
    <input type="radio" name="optionsRadios" id="radio1option4" value="option1" >
    <label class="text--med" for="radio1option4">Option four.</label>
  </li>
</ul>
